.list{
	border-top: 1px solid #e7e7e7;
	&__list{
		margin-top: 80px;
	}
	&__item{
		margin: 0 0 45px 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__photo{
		width: 125px;
		height: 125px;
		border-radius: 50%;
		background: url(../img/circle.jpg) -40px 0;
		margin-left: 80px;
		margin-right: 50px;
	}
	&__title{
		font-family: 'Lato', sans-serif;
		font-size: 33px;
		font-weight: 900;
		color: #01c7d9;
		margin: 0 0 20px 0;
	}
	&__lorem{
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		font-weight: 700;
		color: #414042;
		margin: 0;
	}
	&__name{
		font-family: 'Lato', sans-serif;
		font-size: 36px;
		font-weight: 900;
		color: #414042;
		text-align: center;
		margin-bottom: 0;
		margin-top: 70px;
	}
}

	.radio{
		display: none;
	}
	.radio + label::after{
		content: '';
		position: absolute;
		top: 5px;
		left: 8px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border: 3px solid #fff;
		
		transition: all .2s;
	}
	.radio + label::before{
		content: '';
		position: absolute;
		top: -3px;
		left: 0;
		width: 30px;
		height: 30px;
		border: 1px solid #CDD1DA;
		border-radius: 50%;
		background: #FFF;
	}
	.radio + label{
		position: relative;
		padding: 0 0 0 35px;
	}
	.radio{
		position: absolute;
	}
	input[type="radio"]:checked + label:before {
		background: #01c7d9;
		border: 0;
	}