@media only screen and (max-width : 1200px){
	.owl-theme .owl-controls .owl-buttons .owl-prev,
	.owl-theme .owl-controls .owl-buttons .owl-next {
		display: none;
	}
/*	.header{
		&__list{
			display: none;
		}
	}*/
}
@media only screen and (max-width : 992px){
	.header{
		&__search{
			display: none;
		}
		&__main{
			height: auto;
		}
		&__item,&__list{
			display: block;
		}
		&__logo{
			float: none;
			display: block;
		}
		&__kasper{
			display: flex;
			justify-content: center;
		}
		&__menu{
			display: block;
			margin: auto;
		}
		&__list{
			display: none;
			padding: 0;
		}
	}
	.callback{
		&__left, &__right{
			float: none;
		}
		&__input{
			width: 100%;
			&:first-child{
				margin-bottom: 15px;
			}
		}
		&__textarea{
			margin-top: 15px;
		}
		&__center{
			margin-right: 10px;
			margin-left: 10px;
		}
	}
	.portfolio{
		&__hover{
			display: none;
		}
		&__po1, &__po2, &__po3, &__po4, &__po5, &__po6{
			background-position: 50%;
		}
	}
}
