@media only screen and (max-width : 1200px){
	.owl-theme .owl-controls .owl-buttons .owl-prev,
	.owl-theme .owl-controls .owl-buttons .owl-next {
		display: none;
	}
/*	.header{
		&__list{
			display: none;
		}
	}*/
}
@media only screen and (max-width : 360px){
	.list{
		&__content{
			position: relative;
		}
		&__title{
			margin: 0;
			font-size: 21px;
		}
		&__lorem{
			position: absolute;
			left: -160px;
			top: 90px;
			font-size: 14px;
			padding-bottom: 20px;
			min-width: 300px;
		}
		&__item{
			margin-bottom: 110px;
		}
		&__photo{
			min-width: 85px;
			min-height: 85px;
			margin-left: 25px;
			margin-right: 25px;
			background-position: -55px 0;
		}
		&__list{
			margin-top: 80px;
		}
	}
	.header{
		&__content{
			left: 0;
			top: 15%;
		}
		&__title{
			font-size: 36px;
		}
		&__lorem{
			font-size: 16px;
			margin-bottom: 40px;
		}
	}
	.services{
		&__title{
			font-size: 26px;
		}
		&__paragraph{
			font-size: 15px;
		}
		&__item{
			font-size: 15px;
		}
		&__text{
			font-size: 13px;
		}
	}
}
@media only screen and (max-width : 769px){
	.list{
		&__lorem{
			font-size: 16px;
		}
		&__photo{
			margin: 0 20px;
		}
	}
}

@media only screen and (max-width : 980px){
	.header{
		&__list{
			display: none;
		}
		&__burger{
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: flex-end;
			height: 100px;
		}
		&__kasper{
			justify-content: flex-start;
		}
		&__photo1, &__photo2, &__photo3{
			background-position: -265px center;
		}
		&__content{
			top: 12%;
		}
		&__menu{
			display: block;
		}
		&__more{
			margin: 0;
		}
		&__wrap{
			text-align: center;
		}
		&__download{
			margin-bottom: 15px;
		}
		&__stack{
			justify-content: center;
		}
		&__item{
			margin-bottom: 35px;
		}
		&__link{
			&:hover, &:focus, &:active{
				color: #fff;
				padding-bottom: 8px;
				padding-top: 0;
				border-bottom: 2px solid #fff;
				border-top: 0;
			}
		}
	}
}
