.services{
	margin-bottom: 90px;
	&__title{
		font-family: 'Lato', sans-serif;
		font-size: 36px;
		font-weight: 900;
		margin: 10px 0 0 0;
		text-align: center;
	}
	&__paragraph{
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		font-weight: 300;
		margin: 0 auto 35px auto;
		text-align: center;
	}
	&__circle{
		width: 160px;
		height: 160px;
		border-radius: 50%;
		background: #4bcaff;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
		&:hover{
			background: #414042;
		}
		&:hover + .services__item{
			color: #4bcaff;
		}
	}
	&__text{
		font-family: 'Lato', sans-serif;
		font-size: 13px;
		font-weight: 300;
		color: #838383;
		text-align: center;
		margin: 0;
	}
	&__item{
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		font-weight: 700;
		color: #414042;
		text-align: center;
		margin: 20px 0;
	}
}
